<div class="row">
    <div class="card col-md-4 col-md-6 col-xs-12">
        <div class="alert alert-dark cursor-pointer">
            <div class="card-body">
                <p class="card-tittle"> Titulo: Harry Potter y el misterio del príncipe </p>
                <p>2009</p>
                <img src="/assets/images/portada.jpg" alt="portada" class="card-img-top">
                <hr>
                <p class="card-tittle"> Titulo: Harry Potter y la piedra filosofal </p>
                <p>2001</p>
                <img src="/assets/images/h1.jpg" alt="harry1" class="card-img-top">
                <hr>
                <p class="card-tittle"> Harry Potter y la cámara secreta </p>
                <p>2002</p>
                <img src="/assets/images/h2.jpg" alt="harry1" class="card-img-top">
                <hr>
                <p class="card-tittle"> Titulo: Harry Potter y el prisionero de Azkaban </p>
                <p>2004</p>
                <img src="/assets/images/h3.jpg" alt="harry1" class="card-img-top">
                <hr>
                <p class="card-tittle"> Harry Potter y el cáliz de fuego </p>
                <p>2005</p>
                <img src="/assets/images/h4.jpg" alt="harry1" class="card-img-top">
                <hr>
                <p class="card-tittle"> Titulo: Harry Potter y la orden del Fénix </p>
                <p>2007</p>
                <img src="/assets/images/h5.jpg" alt="harry1" class="card-img-top">
            </div>
        </div>
    </div>
</div>
